# claude code local config
.claude/settings.local.json

node_modules/
.yarn/install-state.gz
.yarn/cache
.pnp
.pnp.js

coverage/

.next/
out/

build/
dist/

# sqlite database
*.db
*.db-shm
*.db-wal

.DS_Store
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vercel

*.tsbuildinfo
next-env.d.ts
